* {
  box-sizing: border-box;
}

.material-icons.md-16 { font-size: 16px; }
.topnavbar {
  overflow: hidden;
  background-color: #99ffeb;
  position: -webkit-sticky; /* for Safari browser */
  position: sticky;
  top: 0;
}
.topnavbar a {
  float: left;
  display: block;
  text-decoration: none;
  color: #000;
  padding: 25px 20px;
  text-align: center;
  overflow: hidden;
}
.topnavbar a:hover {
  cursor: pointer;
  background-color: #00b38f;
  color: white;
  display: block;
  cursor: pointer;
}

body {
  background-color: black;
  font-family: "Otomanopee One", Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.container {
  background-color: #334646;
  margin: auto;
  width: 70%;
  border: 1px solid #334646;
  border-radius: 10px;
  position: relative;
  bottom: -50px; 
  padding: 30px;
}
 
.converter {
  background-color: #a1b3af;
  margin: auto;
  width: 100%;
  border: 1px solid #a1b3af;
  border-radius: 10px;
  position: relative;
  padding: 10px;  
}

input[type=number] {
  width: 100%;
  display: inline-block;
  padding: 8px;
  border: 1px solid #334646;
  border-radius: 10px;  
}

input:focus {
  background-color: lightblue;
  outline: none;
}
 
p {
  font-size: 20px;
}

#demo,#mile,#money {
  width: 75%;
  margin: auto;
  background-color: #fff;
  border: 1px solid #a1b3af;
  border-radius: 10px;
  display: block;
  text-align: center;
  color: gray;
  font-weight: 100;  
}
    
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #demo,#mile,#money {
    width: 100%;
  }
}
